body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background: #222930;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
}
.formtong{
    width: 70%;
    height: 100%;
    display: flex;
    margin: auto;
}
header>.formtong>.form--logo{
    min-width: 15%;
    height: 100%;
    float: left;
}
header>.formtong>.form--logo .form--logo_img{
    margin-top: 3px;
    margin-left: 15px;
}
header>.formtong>.form--login{
    min-width: 33%;
    float: left;
    height: 100%;
}
header>.formtong>.form--gioithieu{
    min-width: 54%;
    height: 100%;
    float: right;
}
header>.formtong>.form--login>.formtong--login__dangky{
    margin-left: 30px;
    margin-top: 19px;
    display: inline-block;
    text-decoration: none;
    color: #E9E9E9;
    border-radius: 30px;
    border: 2px solid #4EB1BA;
    padding: 8px 20px 8px 20px;
    font-size: 18px;
}
header>.formtong>.form--login>.formtong--login__dangky:hover{
    margin-left: 30px;
    margin-top: 19px;
    display: inline-block;
    text-decoration: none;
    color: #E9E9E9;
    border-radius: 30px;
    border: 2px solid #4EB1BA;
    padding: 8px 20px 8px 20px;
    font-size: 18px;
    background: #4EB1BA;
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 10px #4EB1BA;
}
header>.formtong>.form--login>.formtong--login__dangnhap{
    margin-left: 30px;
    margin-top: 19px;
    display: inline-block;
    text-decoration: none;
    color: #E9E9E9;
    border-radius: 30px;
    border: 2px solid #4EB1BA;
    padding: 8px 20px 8px 20px;
    font-size: 18px;
    transition: all 0.2s ease-in;
    background: #4EB1BA;
}
header>.formtong>.form--login>.formtong--login__dangnhap:hover{
    margin-left: 30px;
    margin-top: 19px;
    display: inline-block;
    text-decoration: none;
    color: #E9E9E9;
    border-radius: 30px;
    padding: 8px 20px 8px 20px;
    font-size: 18px;
    transition: all 0.2s ease-in;
    background: #222930;
    box-shadow: 0px 0px 10px #4EB1BA;
}
header>.formtong>.form--gioithieu>ul>li>a{
    color: #E9E9E9;
    text-decoration: none;
    margin: 20px;
    font-weight: 700;
}
header>.formtong>.form--gioithieu>ul>li>a:hover{
    color: #4EB1BA;
    text-decoration: none;
    margin: 20px;
    text-shadow: 0px 0px 10px #4EB1BA;
    transition: all 0.2s ease-in;
    width: 20px;
    border-radius: 5px;
}
.form--gioithieu>ul>li{
    display: inline;
    margin-top: 14px;
    float: right;
}
nav{
    width: 100%;
    height: 100vh;

}
nav>.img>.img--trai{
    height: 100vh;
    width: 50%;
    float: left;
    background-image: radial-gradient(#ae5a24, #c0a493 1%, #ae5a24);
}
nav>.img>.img--phai{
    height: 100vh;
    width: 50%;
    float: left;
    background-image: radial-gradient(#00aeff, #7797a7 1%, #00aeff);
}
nav>.img>.hello{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
}
nav>.img>.hello>.img--hello__anh{
    width: 700px;
    height: 100%;
    display: flex;
    margin: auto;
}
nav>.img>.img--luachon{
    height: 300px;
    width: 100%;

    position: absolute;
    bottom: 94px;
}
nav>.img>.img--luachon>.img-luachon-button{
    width: 700px;
    height: 100%;
    display: flex;
    margin: auto;
}
nav>.img>.img--luachon>.img-luachon-button>.img--img--luachon__img-luachon-button_bxh{
    height: 45px;
    width: 250px;
    border: none;
    border-radius: 30px;
    color: #E9E9E9;
    margin-top: 250px;
    background: #4EB1BA;
    font-size: 20px;
    font-weight: 700;
    z-index: 1;
    opacity: 0.9;
}
nav>.img>.img--luachon>.img-luachon-button>.img--img--luachon__img-luachon-button_bxh:hover{
    height: 45px;
    width: 250px;
    border: none;
    border-radius: 30px;
    color: #E9E9E9;
    margin-top: 250px;
    background: #222930;
    font-size: 20px;
    font-weight: 700;
    z-index: 1;
    transition: 0.2s;
}nav>.img>.img--luachon>.img-luachon-button>.img--img--luachon__img-luachon-button_bxh:active{
    height: 45px;
    width: 250px;
    border: none;
    border-radius: 30px;
    color: #E9E9E9;
    margin-top: 260px;
    background: #222930;
    font-size: 20px;
    font-weight: 700;
    z-index: 1;
    transition: 0.5s;
}
nav>.img>.img--luachon>.img-luachon-button>.img--img--luachon__img-luachon-button_vip{
    height: 45px;
    width: 250px;
    border: none;
    border-radius: 30px;
    color: #E9E9E9;
    margin-top: 250px;
    background: #222930;
    margin-left: 200px;
    font-weight: 700;
    font-size: 20px;
    opacity: 0.9;
}
nav>.img>.img--luachon>.img-luachon-button>.img--img--luachon__img-luachon-button_vip:hover{
    height: 45px;
    width: 250px;
    border: none;
    border-radius: 30px;
    color: #E9E9E9;
    margin-top: 250px;
    background: #ae5a24;
    margin-left: 200px;
    font-weight: 700;
    font-size: 20px;
    transition: 0.2s;
}
nav>.img>.img--luachon>.img-luachon-button>.img--img--luachon__img-luachon-button_vip:active{
    height: 45px;
    width: 250px;
    border: none;
    border-radius: 30px;
    color: #E9E9E9;
    margin-top: 260px;
    background: #ae5a24;
    margin-left: 200px;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;
}

footer{
    width: 100%;
    height: 40vh;
    background: #222930;
}

footer>.kettrang{
    width: 70%;
    height: 100%;
    display: flex;
    margin: auto;
}

footer>.kettrang>.kettrang--logo{
    height: 40%;
    width: 17%;
}
footer>.kettrang>.kettrang--thongtin{
    height: 100%;
    width: 45%;
}
footer>.kettrang>.kettrang--thongtin>a{
    height: 100%;
    width: 35%;
}
footer>.kettrang>.kettrang--thongtin>.kettrang--kettrang--thongtin_chude{
    color: #4EB1BA;
    margin-top: 50px;
    display: block;
    font-size: 22px;
    font-weight: 700;
}
footer>.kettrang>.kettrang--thongtin>.kettrang--kettrang--thongtin_noidung{
    color: #a5a5a5;
    margin-top: 50px;
    font-size: 15px;
    text-decoration: none;
    display: block;
}
footer>.kettrang>.kettrang--thongtin>.kettrang--kettrang--thongtin_noidung>a{
    color: #ffffff;
    margin-top: 50px;
    font-size: 15px;
    text-decoration: none;
}
footer>.kettrang>.kettrang--thongtin>.kettrang--kettrang--thongtin_noidung>a:hover{
    color: #ffffff;
    margin-top: 50px;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 0px 0px 10px #4EB1BA;
    transition: 0.2s;
}
footer>.kettrang>.kettrang--diachi{
    height: 100%;
    width: 22%;
    margin-left: 30px;
}
footer>.kettrang>.kettrang--diachi>span{
    color: #4EB1BA;
    margin-top: 50px;
    display: block;
    font-size: 22px;
    font-weight: 700;
}
footer>.kettrang>.kettrang--diachi>a{
    color: #E9E9E9;
    margin-top: 10px;
    display: block;
    font-size: 17px;
    text-decoration: none;
}
footer>.kettrang>.kettrang--diachi>a:hover{
    color: #E9E9E9;
    margin-top: 10px;
    display: block;
    font-size: 19px;
    text-decoration: none;
    text-shadow:  0px 0px 5px #4EB1BA;
    transition: 0.5s;
}
footer>.kettrang>.kettrang--diachi>a>span{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
footer>.kettrang>.kettrang--hotro>span{
    color: #4EB1BA;
    margin-top: 50px;
    display: block;
    font-size: 22px;
    font-weight: 700;
}
.formlogin{
    background-image: url(https://data.whicdn.com/images/295908267/original.gif);
    background-repeat: no-repeat;
    background-size: 100% ;
    width: 100%;
    height: 90vh;
}
.formlogin>.form{
    background: #4EB1BA;
    width: 25%;
    height: 80%;
    border-radius: 15px;
    position: relative;
    top: 120px;
    margin: auto;
}
.formlogin>.form>.formlogin--dangnhap{
    width: 100%;
    height: 15%;
}
.formlogin>.form>.formlogin__tkmk{
    width: 100%;
    height: 80%;
}
.formlogin>.form>.formlogin__tkmk>form>.formlogin__formlogin__tkmk--tk{
    width: 100%;
    height: 80px;
    color: white;
    font-weight: 500;
}
.taikhoan{
    margin-left: 100px;
}
.formlogin>.form>.formlogin__tkmk>form>.formlogin__formlogin__tkmk--tk>.taikhoan>.nhap{
    width: 260px;
    height: 30px;
    margin-top: 5px;
    border: none;
}
.formlogin>.form>.formlogin--dangnhap>span{
    color: #E9E9E9;
    font-size: 30px;
    display: block;
    text-align: center;
    position: relative;
    top: 30px;
}
.formlogin>.form>.formlogin--dangnhap>.formlogin__formlogin--dangnhap_gachchan{
    background: #222930;
    height: 3px;
    width: 170px;
    display: flex;
    margin: auto;
    margin-top: 28px;
    border-radius: 20px;
}

.noi-dung{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}
.noi-dung>.form>h2{
    color: #E9E9E9;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid #222930;
    letter-spacing: 1px;
    position: absolute;
    top: 20px;
    text-align: center;
}
.noi-dung>.form>form>.input-form{
    margin-bottom: 15px;
}
.noi-dung>.form>form>.input-form>span{
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    color: #E9E9E9;
    letter-spacing: 1px;
}
.noi-dung>.form>form>.input-form>input{
    width: 90%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #E9E9E9;
    font-size: 16px;
    letter-spacing: 1px;
    color: #E9E9E9;
    background: transparent;
    border-radius: 1px;
}
.noi-dung>.form>form>.input-form>input[type="submit"]{
    background: #222930;
    color: #E9E9E9;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 102%;
    text-align: center;
}
.noi-dung>.form>form>.input-form>input[type="submit"]:hover{
    background: #4EB1BA;
    color: #E9E9E9;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 102%;
    transition: 0.2s;
    text-align: center;
}
.noi-dung>.form>form>.nho-dang-nhap{
    margin-bottom: 20px;
    color: #E9E9E9;
    font-size: 14px;
}
.noi-dung>.form>form>.input-form p{
    color: #E9E9E9;
    font-size: 15px;
}
.noi-dung>.form>form>.input-form>p>a{
    color: #ff2b72;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0px 0px 5px black;
}
.noi-dung>.form>h3{
    color: #E9E9E9;
    text-align: center;
    margin: 60px 0 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.noi-dung>.form>.icon-dang-nhap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.noi-dung>.form>.icon-dang-nhap>li{
    list-style: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.noi-dung>.form>.icon-dang-nhap>li:nth-child(1){
    color: #3b5999;
}
.noi-dung>.form>.icon-dang-nhap>li:nth-child(2){
    color: #dd4b39;
}
.noi-dung>.form>.icon-dang-nhap>li:nth-child(3){
    color: #0091ff;
}
.noi-dung>.form>.icon-dang-nhap>li>i{
    font-size: 24px;
}
